
;; Symbol mapping to Dvorak while holding Space
;; Apply on top of Dvorak keyboard input
;;
    ;; !  | means 
    ;; #  | means optional
    ;; C  | left_command
    ;; T  | left_control
    ;; O  | left_option
    ;; S  | left_shift
    ;; F  | fn
    ;; Q  | right_command
    ;; W  | right_control
    ;; E  | right_option
    ;; R  | right_shift
    ;; !! | mandatory command + control + optional + shift (hyper)
    ;; ## | optional any
;;
{:layers {:layer1 {:key :spacebar :alone {:key :spacebar}}}
 :main [               
        {:des "Layer1 - Symbols"
         :rules [:layer1
         ;; Top row
                 [:##q :grave_accent_and_tilde] ;; `
                 [:##w :1] 
                 [:##e :2]
                 [:##r :3] 
                 [:##t :!Sgrave_accent_and_tilde] ;; ~
                 [:##y :!Sbackslash] ;; |
                 [:##u :!S9] ;; ( 
                 [:##i :!Sopen_bracket] ;; {
                 [:##o :open_bracket] ;; [
                 [:##p :!S4] ;; $     
                 [:##open_bracket :!S6] ;; ^         
         ;; Home row
                 [:##caps_lock :!Cx] ;; Caps -> Ctrl+X-> Cut    
                 [:##a :!S2] ;; @
                 [:##s :4] 
                 [:##d :5] 
                 [:##f :6] 
                 [:##g :!S1] ;; !
                 [:##h :!S5] ;; % 
                 [:##j :equal_sign] 
                 [:##k :slash] ;; /
                 [:##l :!S8] ;; *
                 [:##semicolon :!Sequal_sign] ;; +
         ;; Bottom row
                 [:##z :backslash] 
                 [:##x :7]
                 [:##c :8] 
                 [:##v :9] 
                 [:##b :0] 
                 [:##n :!S7] ;; & 
                 [:##m :!S0] ;; )
                 [:##comma :!Sclose_bracket] ;; }
                 [:##period :close_bracket] ;; ]
                 [:##slash :!S3] ;; #
                 ]}
        {:des "Caps lock"
         :rules [
                [:!Rcaps_lock :!Cv] ;; Shift + Caps -> Command+v -> Paste
                [:##caps_lock :!Cc] ;; Caps -> Command+c -> Copy
         ]
        }  
        {:des "dvorak"
         ;; Top row
         :rules [[:##q :quote] ;; broke 
                 [:##w :comma]
                 [:##e :period]
                 [:##r :p]
                 [:##t :y]
                 [:##y :f]
                 [:##u :g]
                 [:##i :c]
                 [:##o :r]
                 [:##p :l]                 
                 [:##hyphen :open_bracket];                 
                 [:##equal_sign :close_bracket]
        ;; Home row
                 [:##s :o]
                 [:##d :e]
                 [:##f :u]
                 [:##g :i]
                 [:##h :d]
                 [:##j :h]
                 [:##k :t]
                 [:##l :n]
                 [:##semicolon :s]
                 [:##quote :hyphen]
                 [:##open_bracket :slash]
                 [:##close_bracket :equal_sign]
        ;; Bottom row
                 [:##z :semicolon]
                 [:##x :q]
                 [:##c :j]
                 [:##v :k]
                 [:##b :x]
                 [:##n :b]
                 [:##m :m]
                 [:##comma :w]
                 [:##period :v]
                [:##slash :z]
                 ]} 
        ]}
